<br>
<div class="jumbotron">
  <h1>Blocmetrics</h1>
  <p>Blocmetrics is an analytic service to track events on websites.</p>
  <p>It's as easy as 1-2-3!</p>
<div class="row">
  <div class="col-md-4">
    <h2>Sign up and log in</h2>
  </div>
  <div class="col-md-4">
    <h2>Register your application</h2>
  </div>
  <div class="col-md-4">
    <h2>Add a JavaScript snippet</h2>
  </div>
</div>
